.App {
  min-height: 100vh;
  position: relative;
  /* padding-bottom is same size as the footer height */
  padding-bottom: 4rem;
}

.App-header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(51, 51, 51);
}

.App-main {
  /* header + footer heights = 10rem */
  min-height: calc(100vh - 10rem);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.App-main.home {
  justify-content: center;

  background: linear-gradient(to bottom, rgba(235, 235, 250, 0.95), rgba(235, 235, 250, 0.95)),
    url("https://res.cloudinary.com/dq2snomti/image/upload/v1574841569/softuni-reactjs-project/home-background_rpby83.jpg")
      center / cover no-repeat;
}

.App-main.products-tv {
  background: linear-gradient(to bottom, rgba(235, 235, 250, 0.92), rgba(235, 235, 250, 0.92)),
    url("https://res.cloudinary.com/dq2snomti/image/upload/v1574928213/softuni-reactjs-project/tv6_background_aboxtv")
      center / cover no-repeat;
}

.App-main.products-laptop {
  background: linear-gradient(to bottom, rgba(235, 235, 250, 0.92), rgba(235, 235, 250, 0.92)),
    url("https://res.cloudinary.com/dq2snomti/image/upload/v1574923948/softuni-reactjs-project/laptops1-background_hnnc3d.jpg")
      center / cover no-repeat;
}

.App-main.products-phone {
  background: linear-gradient(to bottom, rgba(235, 235, 250, 0.92), rgba(235, 235, 250, 0.92)),
    url("https://res.cloudinary.com/dq2snomti/image/upload/v1574924407/softuni-reactjs-project/phones1_background_jrjoie.jpg")
      center / cover no-repeat;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333333;
  color: #fff;
}
