.login-form {
  width: 25%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid rgb(146, 162, 255);
}

.login-form input {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 0.3rem;
  outline: none;
}

.login-form input:hover,
.login-form input:focus {
  border: 1px solid rgb(146, 162, 255);
}

.login-form input[type="submit"] {
  background-color: rgb(146, 162, 255);
  color: #fff;
  border: 1px solid rgb(146, 162, 255);
}

.login-form p {
  text-align: center;
  font-size: 0.9rem;
}

.login-form p a {
  text-decoration: none;
  color: rgb(146, 162, 255);
}
