.navigation-container a,
.navigation-container button,
.greeting-message {
  margin: 0.5rem;
  text-decoration: none;
  color: coral;
  font-size: 1.6rem;
}

.navigation-container button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.navigation-container .activeNav {
  color: rgb(0, 38, 255);
}
