.products-list {
  width: 70%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

@media only screen and (min-width: 1400px) {
  .products-list {
    width: 65%;
  }
}



.pages {
  margin-top: 2rem;
  display: flex;
}

.pages button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.pages button.currentPageButton {
  background-color: lightblue;
}